a {
  color: #ffffff; 
}

#LLIB {
  color: #ffffff; 
  font-size: 50px;
  background-color: #2d2d2d; 
}

#QP {
  color: #f2f2f2; 
  width: 100%;
  text-align: center;
  font-size: 26px;
}

#img {
  border-radius: 5%;
  max-width: 25%;
  display: block;
  margin: 1% auto;
}

body {
  background-color: #1a1a1a; 
  color: #f2f2f2; 
}

.centrar {
  text-align: center;
}

#div {
  text-align: center;
  margin: 1 auto;
}

.zapatilla {
  color: #f2f2f2; 
  border: 0.2% solid #333; 
  margin: 2%;
  padding: 2%;
  display: inline-block;
  width: 20%;
  height: 3%;
  opacity: 1.0;
  border-radius: 2%;
  box-shadow: 0.3% 0.3% 1% #333; 
  background: linear-gradient(to bottom, #333 0%, #2d2d2d 50%, #292929 51%, #1a1a1a 100%);
}

.zapatilla img {
  width: 70%;
  border-radius: 5%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#COMMA {
  color: #d9d9d9; 
  border: 0.2% solid #404040; 
  margin: 2%;
  padding: 2%;
  font-size: 18px;
}

ul,
li {
  padding: 0.2%;
  margin: 0.2%;
  display: inline-block;
}

.Etiquetas {
  margin-left: 23%;
}

.btn {
  background: #595959;
  background-image: -webkit-linear-gradient(top, #595959, #666666); 
  background-image: -moz-linear-gradient(top, #595959, #666666);
  background-image: -ms-linear-gradient(top, #595959, #666666);
  background-image: -o-linear-gradient(top, #595959, #666666);
  background-image: linear-gradient(to bottom, #595959, #666666);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 18px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #404040; 
  background-image: -webkit-linear-gradient(top, #404040, #595959); 
  background-image: -moz-linear-gradient(top, #404040, #595959);
  background-image: -ms-linear-gradient(top, #404040, #595959);
  background-image: -o-linear-gradient(top, #404040, #595959);
  background-image: linear-gradient(to bottom, #404040, #595959);
  text-decoration: none;
}

form {
  width: 85%;
  margin: 2% auto 0;
  border-style: double;
  background-color: #333; 
  padding: 2.5%;
}

.NC {
  margin: 1% 5% 6%;
  border-style: dashed;
}

#opciones {
  margin-left: 2.5%;
}

.right {
  text-align: right;
  margin-right: 50%;
  margin-top: 2%;
}

#div1 {
  margin-right: 50%;
}

#div2 {
  text-align: right;
}

.formulario-columnas {
  display: table;
  width: 100%;
}

.formulario-columna-izquierda,
.formulario-columna-derecha {
  display: table-cell;
}

.formulario-columna-izquierda {
  width: 90%;
}

.formulario-columna-derecha {
  width: 76%;
  padding-right: 14%;
}

#comentari {
  margin-top: 9%;
  border-style: solid;
}

#assumte {
  border-style: dashed;
}

footer {
  margin-top: 2%;
  background-color: #404040; 
  color: #f2f2f2; 
  padding: 10px;
  text-align: center;
}

.redes-sociales {
  margin-top: 2%;
}

.redes-sociales a {
  margin: 0 2%;
}

.redes-sociales img {
  width: 5%;
  height: 5%;
}

.CL {
  color: #a6a6a6; 
}

nav {
  background-color: #2d2d2d; 
  padding: 10px;
  border-radius: 10px;
}
